:root {
  --black: #212121;
  --second-black: #000000;
  --blue: #2196f3;
  --background-grey: #2f303a;
  --white: #ffffff;
  --second-white: #f5f4fa;
  --silver: #757575;
}

body {
  font-family: "Roboto", "Relaway", "Monsterrat", sans-serif;
  font-style: normal;
  color: var(--black);
  background-color: var(--white);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.all-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.container-logo {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

ul {
  list-style-type: none;
  display: flex;
}

.logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--second-black);
}

.logo3 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.logo4 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--second-black);
}

a {
  text-decoration: none;
  color: black;
}

.list-link-first {
  display: flex;
  flex-grow: 1;
  max-width: 40%;
  width: 254px;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  flex-direction: row;
  align-items: center;
}

.link-agency {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
}

.link-agency:hover,
.link-agency:focus {
  color: var(--blue);
}

.link-portfolio {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--blue);
}

.link-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--blue);
}

.list-link-second {
  display: flex;
  color: var(--silver);
  justify-content: space-between;
  gap: 40px;
}

.main-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}
.wrapper {
  background-color: var(--background-grey);
}

h1 {
  font-size: 44px;
  line-height: 116%;
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  text-align: center;
}

.dokument-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: block;
  margin: auto;
}

.wrapper-2 {
  width: 1170px;
  height: 386px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: 0%;
}

.wrapper-2 > li {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.link-mail:hover,
.link-mail:focus {
  color: var(--blue);
}
.link-tel:hover,
.link-tel:focus {
  color: var(--blue);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--black);
  max-width: 572px;
  width: 100%;
  gap: 8px;
  margin: auto;
  margin-bottom: 34px;
  margin-top: 131px;
}

.picture {
  display: block;
}

.container-lorem {
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.container-set {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.container-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  background-color: var(--second-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.team {
  display: flex;
  justify-content: space-between;
  gap: calc(120px / 4);
  padding-left: 0%;
  padding-right: 0%;
}

.team > li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.team-list {
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  gap: calc(1110px / 3);
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.footer-down {
  background-color: var(--background-grey);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
}

.address {
  color: var(--white);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-align: left;
}

.footer-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0%;
}

.size {
  width: 246px;
}

.logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.letter-style1 {
  text-decoration: none;
  line-height: 1.71;
  margin-bottom: 9px;
}
.letter-style2 {
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.underline {
  text-decoration: underline;
}

.color-mail {
  color: rgba(255, 255, 255, 0.6);
}

.color-mail:hover {
  color: var(--blue);
}

.letter-style3 {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  padding-bottom: 20px;
}
